<!DOCTYPE html>
<html>
    <head>
        <title>MWeave</title>
    </head>
    <body>
        <header><h1>MWeave</h1> an experiment in simplified literate programming.</header>
        <section>{{{content}}}</section>
        <footer></footer>
    </body>
</html>
