<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <header>{{header}}</header>
        <section>{{content}}</section>
        <footer>{{footer}}</footer>
    </body>
</html>
